body {
  font-family: 'san-serif';
}

.background{
  height: 100vh;
  background: url(top.jpeg) center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.background::before{
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  content:' ';
}

.box{
  position: absolute;
  width: 100%;
  text-align: center;
}
